apiVersion: apps/v1
kind: Deployment
metadata:
  name: carwebapp
  labels:
    app: carwebapp
spec:
  replicas: 1
  selector:
    matchLabels:
      app: carwebapp
  template:
    metadata:
      labels:
        app: carwebapp
    spec:
      containers:
      - name: carwebapp
        image: carwebappcontainerregistry.azurecr.io/carwebapp:1.0
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 80
        resources:
          requests:
            cpu: 300m
            memory: 300Mi
          limits:
            memory: 400Mi
        volumeMounts:
        - name: secrets-store01-inline
          mountPath: "/mnt/secrets-store"
          readOnly: true
        env:
        - name: PostgreSql
          valueFrom:
            secretKeyRef:
              name: carweb-secret 
              key: CarWebAppConnectionString
      imagePullSecrets:
        - name: acr-secret
      volumes:
        - name: secrets-store01-inline
          csi:
            driver: secrets-store.csi.k8s.io
            readOnly: true
            volumeAttributes:
              secretProviderClass: "azure-rkimkv-secret-provider"

        
