apiVersion: secrets-store.csi.x-k8s.io/v1
kind: SecretProviderClass
metadata:
  name: azure-rkimkv-secret-provider
spec:
  provider: azure
  parameters:
    usePodIdentity: "false"
    useVMManagedIdentity: "true"    # Set to true for using managed identity
    userAssignedIdentityID: ""     # If empty, then defaults to use the system assigned identity on the VM
    keyvaultName: "KeyVaultCarWeb"
    cloudName: ""                   # [OPTIONAL for Azure] if not provided, the Azure environment defaults to AzurePublicCloud
    objects:  |
      array:
        - |
          objectName: CarWebAppConnectionString
          objectType: secret        # object types: secret, key, or cert
          objectVersion: ""         # [OPTIONAL] object versions, default to latest if empty
    tenantId: {{ .Values.tenantId | quote }}          # The tenant ID of the key vault
  secretObjects:                              # [OPTIONAL] SecretObjects defines the desired state of synced Kubernetes secret objects
  - data:
    - key: CarWebAppConnectionString                        # data field to populate
      objectName: CarWebAppConnectionString        # name of the mounted content to sync; this could be the object name or the object alias
    secretName: carweb-secret                     # name of the Kubernetes secret object
    type: Opaque