name: L0pipeline_Terraform

on:
  workflow_dispatch:

permissions:
    id-token: write
    contents: read

jobs:
  create-and-push-images:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      
      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.6.6

      - name: Initialize Terraform
        working-directory: ./L0_Terraform
        run:
          terraform init
      
      - name: Log into Azure
        uses: azure/login@v1
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
      
      - name: Apply Terraform Changes
        working-directory: ./L0_Terraform
        run:
          terraform apply
            -var az_managed_identity_subscription_id=${{ secrets.AZURE_SUBSCRIPTION_ID }}
            -var az_managed_identity_tenant_id=${{ secrets.AZURE_TENANT_ID }}
            -var az_managed_identity_client_id=${{ secrets.AZURE_CLIENT_ID }}
            -auto-approve
      


      