name: L0pipeline_Terraform

on:
  workflow_dispatch:

permissions:
    id-token: write
    contents: read

jobs:
  deploy-azure-services:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      
      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.6.0

      - name: Initialize Terraform
        working-directory: ./L0_Terraform
        run:
          terraform init
      
      - name: Log into Azure
        uses: azure/login@v1
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
      
      # - name: Apply Terraform Changes
      #   working-directory: ./L0_Terraform
      #   run:
      #     terraform apply
      #      -var mysql_admin="admin1234"
      #      -var mysql_password=${{ secrets.DATABASE_PASSWORD }}
      #      -var postgres_admin="admin1234"
      #      -var postgres_password=${{ secrets.DATABASE_PASSWORD }}
      #      -auto-approve 
      #      -lock=false
      
      - name: Azure Cluster Configuration
        run: |
          az aks get-credentials --name akscarwebapplication12 --resource-group AVL-Vali-Testing
          az aks enable-addons --addons azure-keyvault-secrets-provider --name akscarwebapplication12 --resource-group AVL-Vali-Testing
          

      


      