name: L1pipelineCI

on:
  workflow_dispatch:

env:

jobs:
  create-and-push-images:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      
      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: 1.6.0

      - name: Initialize Terraform
        working-directory: ./L0_Terraform
        run:
          terraform init
      
      - name: Apply Terraform Changes
        working-directory: ./L0_Terraform
        run:
          terraform apply
          -var az_managed_identity_subscription_id=${{secrets.AZURE_SUBSCRIPTION_ID}}
          -var az_managed_identity_tenant_id=${{secrets.AZURE_TENANT_ID}}
          -var az_managed_identity_client_id=${{secrets.AZURE_CLIENT_ID}}
      


      