name: L1pipeline_CD

on:
  workflow_dispatch:

permissions:
    id-token: write
    contents: read

env:
  CONFIG: ${{ secrets.AZURE_VALITESTING_KUBE_CONFIG }}

jobs:
  deploy-images:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code 
        uses: actions/checkout@v2

      - name: Install dependencies
        uses: yokawasa/action-setup-kube-tools@v0.9.2
        with:
          kubectl: '1.17.1'

      - name: Log into Azure
        uses: azure/login@v1
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
      
      - name: Set config file
        run: |
           echo "$CONFIG" > ${HOME}/config
           mkdir -p home/runner/.kube
           echo "$CONFIG" > home/runner/.kube/config
      
      - name: Install CarWebApp
        working-directory: ./Kubernetes/CarWebApp
        run: |
          kubectl get nodes --kubeconfig "${HOME}/config"
          kubectl apply -f .
